html,body {
  background-color: black;
  background-image: url(../../img/bg1.jpg);
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  cursor: url(../img/plug-n0.png) 32 32, pointer;
}

a, img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#duran {
    background-image: url(../img/duran.png);
    width: 300px;
    height: 206px;
    background-size: cover;
    position:absolute;
    bottom: -206px;
    right: 20px;
    z-index: 999999999999;
    transition: all 500ms;
}
#fondo {
    width: 100%;
    height: 100%;
    background-color: #f8ba01;
    background-size: 250%;
    transition: all 600ms;
}

#globos {
    padding: 100px 0;
}

.globo {
    width: 100px;
    height: 120px;
    background-image: url(../img/globo.png);
    background-size: cover;
    border-radius: 100%;
    -moz-border-radius: 100;
    -webkit-border-radius: 100;
    position: absolute;
    opacity: 0.9;
    z-index: 999999999;
}
#barraVida {
    border: solid 1pt white;
    width: calc(100% - 20px);
    height: 8px;
    position: fixed;
    top: 10px;
    border-radius: 5px;
    display: none;
}
#barraVida .valor {
    background-color: rgba(255, 205, 0,0.9);
    width: 100%;
    height: 100%;
    transition: all 600ms;
    border-radius: 5px;
}
#globoTut {
    left: calc(50% - 50px);
}
a:hover, .click:hover{
    cursor: url(../img/plug-n1.png) 32 32, pointer;
}

a:active, .click:active{
    cursor: url(../img/plug-n2.png) 32 32, pointer;
}
.x1 {
    left: 50%;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: calc(50% - 120px);
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: calc(50% + 120px);
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: calc(50% - 180px);
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: calc(50% - 120px);
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
    left: calc(50% - 70px);
    -webkit-animation: moveclouds 16s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 16s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 16s linear infinite, sideWays 3s ease-in-out infinite alternate;
}
.x7 {
    left: calc(50% + 72px);
    -webkit-animation: moveclouds 26s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 26s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 26s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x8 {
    left: calc(50% - 52px);
    -webkit-animation: moveclouds 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x9 {
    left: calc(50% + 32px);
    -webkit-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 8s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
#nivel {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 100px;
    height: 25px;
    font-size: 16pt;
    text-align: right;
    background-image: url(../img/m.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 26px;
    cursor: url(../img/plug-n0.png) 32 32, pointer;
    display: none;
}
.gato {
  position:absolute;
  top:-100%;
  width: 74px;
  height: 74px;
  transition-duration: 700ms;
  transition-property: all;
  transition-timing-function: ease-out;
}

.dance-container {
  height: 74px;
  left: 50%;
  margin: 37px 0 0 -37px;
  width: 74px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    text-align: left;
    background-color: black;
    color: rgb(255, 205, 0);
    padding-left: 10px;
    z-index: 999999999;
}

footer a {
    color: #c88a01;
    margin-right: 20px;
    
}

footer a:hover {
    color: #ffcd00;
}

.cajita {
    border: solid 2px #c88a01;
    padding-top: 10px;
    background: ivory;
    padding-bottom: 20px;
    border-radius: 10px;
}
#bolsadegatos{
    width: 100%;
    height: 100%;
}
#bolsadegatos:active{
    cursor: url(../img/plug-n2.png) 32 32, pointer !important;
}
.m2{
    margin-left: 127px;
    margin-top: 0px;
}

.m3{
    margin-left: -207px;
    margin-top: 0px;
}
.shadow {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  height: 8px;
  left: -10%;
  margin-top: -4px;
  position: absolute;
  top: 100%;
  width: 120%;
  z-index: 1;
  animation-name: shadow;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.avatar-container {
  height: 74px;
  left: 0;
  position: absolute;
  top: 0;
  width: 55px;
  z-index: 2;
  animation-name: the-forbidden-dance;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: center bottom;
  animation-play-state: running;
}
.avatar {
  background: url(../img/gacri1.png) no-repeat center center;
  background-size: cover;
  border-radius: 15px 15px 100% 100%;
  height: 74px;
  width: 55px;
  position:absolute;
  left: 50%;
  margin-left: -25px;
}
.dosVidas .avatar {
 background: url(../img/gacri2.png) no-repeat center center;
 background-size: cover;
}
.flip {
  animation: do-a-flip 10s linear 0.5s infinite;
}
#pantalla .nivel {
    display:none;
}
.tutCat{
    width: 70px;
}
.bye {
    position: absolute;
    top: -2000px !important;
}
    
#jugar {
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(0,0,0,0.4);
    }
.btn {
    color: black; 
    background-color: #f8ba01;
    font-size: 14pt;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 4px #c88a01;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin: 0 0 0 -50px;
}
#jugarOtraVez {
    width: 150px;
}
#nivel9 .btn {
    left: 0 !important;
    position: relative !important;
    bottom: 0 !important;
    margin-left: 0 !important;
    display: inline-block;
    vertical-align: middle !important;
    margin: 0 !important;
    
}
.floor {
    width: 80px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    display: none;
    background-color: #f8ba01;
    border: solid 2px #c88a01;
    border-bottom: solid 5px #c88a01;
    margin-left: -4px;
    margin-top: 63px;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.4);
    background-image: -webkit-linear-gradient(top,#ffcd00 0,#f8ba01 100%);
    background-image: -o-linear-gradient(top,#ffcd00 0,#f8ba01 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffcd00),to(#f8ba01));
    background-image: linear-gradient(to bottom,#ffcd00 0,#f8ba01 100%);
}
.btn:active {
    border-top: solid 4px #c88a01;
    border-bottom: 0px;
}
#caja {
    position:absolute;
    background-color: #ffcd00;
    top: calc(50% - 220px);
    left: calc(50% - 150px);
    width: 300px;
    min-height: 300px;
    border: solid 3px #ddaa00;
    border-radius: 10px;
    text-align: center;
    
}
#home img {
    margin-top: 20px;
    }
#caja h1{
    color: black;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#caja p {
    -webkit-margin-before: 0.5em;
}
#boton:active{
    border-top: solid 4px #c88a01;
    border-bottom: 0px;
}
#pantalla {
    display:none;
    padding-left: 10px;
    padding-right: 10px;
}

#pantalla .fa-check{
    color: #080;
    position: absolute;
    bottom: 100px;
    right: 40px;
    display: none;
}
#efectos {
    height: 120px;
    -webkit-box-shadow: inset 10px 10px 40px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 10px 10px 40px 4px rgba(0,0,0,0.4);
    box-shadow: inset 10px 10px 40px 4px rgba(0,0,0,0.4);
    left: -10px;
    position: relative;
    background-color: #333333;
    color: black;
    overflow: hidden;
    display: none;
}

#efectos .efecto {
    width: 200px;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: -10px;
    background-image: -webkit-linear-gradient(top,#ffcd00 0,#c88a01 100%);
    background-image: -o-linear-gradient(top,#ffcd00 0,#c88a01 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffcd00),to(#c88a01));
    background-image: linear-gradient(to bottom,#ffcd00 0,#c88a01 100%);
    text-shadow: 1px 1px 5px #c88a01;
    transition: all 300ms;
    cursor: url(../img/plug-n0.png) 32 32, pointer;
    overflow: hidden;
}
#efectos .efecto:nth-of-type(3){
    margin-left: 100%;
}
#pueblo {
    height: 100%;
    width: 200px;
    background-color: rgba(0,0,0,.4);
    border-right: solid 2px black;
    color: silver;
    font-size: 12pt;
    position: absolute;
    text-align: center;
    cursor: url(../img/plug-n0.png) 32 32, pointer;
    -webkit-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.4);
    box-shadow: inset 0px 0px 10px 4px rgba(0,0,0,0.4);
}
#pueblo b {
    color:white;
}
#boca {
    height: 100%;
    width: 200px;
    background-color: black;
    position: absolute;
    right: 0px;
    -webkit-box-shadow: 10px 10px 40px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 40px 4px rgba(0,0,0,0.4);
    box-shadow: 10px 10px 40px 4px rgba(0,0,0,0.4);
}
.carrio {
    width: 395px;
    height: 160px;
    background-image: url(../img/carrio.png);
    z-index: 9999;
    position: absolute;
    transition: all 1500ms;
}
#carrioUna {
    left: 100%;
    top: 45%;
}

#carrioDos {
    left: calc(0% - 395px);
    top: 33%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@keyframes the-forbidden-dance {
  0% {
    transform: translate3d(0, -180px, 0) scaleY(1);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  80% {
    transform: translate3d(0, 0, 0) scaleY(2) scaleX(0.6);
  }
  90% {
    transform: translate3d(0, 0, 0) scaleY(0.4) scaleX(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scaleY(0.25) scaleX(2);
  }
}

@keyframes do-a-flip {
  0% {
    transform: rotate(0deg);
  }
  21% {
    transform: rotate(0deg);

    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  28% {
    transform: rotate(-360deg);
  }
  71% {
    transform: rotate(-360deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  78% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadow {
  0% {
    opacity: 0.5;
    transform: scaleX(0.5) scaleY(0.5);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  90% {
    opacity: 1;
    transform: scaleX(1.15) scaleY(0.1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1.15) scaleY(0.1);
  }
}
